<section *ngIf="gameEngine.GameOver === false">
  <div class="row">
    <day class="col"
         [max_days]="gameEngine.CurrentDayOption?.TotalDays"
         [current_day]="gameEngine.CurrentDay"
         [is_last_day]="gameEngine.IsLastDay"></day>
  </div>
  <div class="row">
    <player class="col" [player_info]="gameEngine.Player"></player>
  </div>
  <div class="row">
    <city-list class="col"></city-list>
  </div>
  <!-- <modal showing.bind="surpriseTriggered">
    <modal-header title.bind="surpriseTitle" close.call="cancel()"></modal-header>
    <modal-body content_view.bind="surpriseModalView" content_model.bind="surpriseModalModel"></modal-body>
  </modal> -->
</section>
<section *ngIf="gameEngine.GameOver">
  <div class="splash mrg-btm-10-pct">
    <div class="message">Game Over</div>
    <div class="message">You made {{gameEngine.Player.Profit | customCurrencyPipe}}</div>
  </div>
</section>
<footer-bar></footer-bar>
