<h3 class="col d-inline">Money: {{player_info.Money | customCurrencyPipe}}</h3>
<div class="col d-inline">
  <h3 class="d-inline">Debt: {{player_info.LoanOutstanding | customCurrencyPipe}}
    <div class="btn btn-secondary col-offset-1"
         *ngIf="player_info.LoanOutstanding > 0"
         (click)="showDebtDialog()">
      <small>Pay Debt</small>
    </div>
  </h3>
</div>
<h3 class="col d-inline">Backpack Space: {{player_info.BackpackSpace}}</h3>
<h3 class="col d-inline">Backpack Size: {{player_info.BackpackSize}}</h3>
